In [3]:
import findspark
findspark.init()

from pyspark.conf import SparkConf
from pyspark.context import SparkContext
from pyspark.sql import SparkSession

In [4]:
payment_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/payment.csv")
payment_df = payment_df.alias('payment_df')
payment_df.show(3)

+----------+-----------+--------+---------+------+-------------------+-------------------+
|payment_id|customer_id|staff_id|rental_id|amount|       payment_date|        last_update|
+----------+-----------+--------+---------+------+-------------------+-------------------+
|         1|          1|       1|       76|  2.99|2005-05-25 11:30:37|2006-02-15 22:12:30|
|         2|          1|       1|      573|  0.99|2005-05-28 10:35:23|2006-02-15 22:12:30|
|         3|          1|       1|     1185|  5.99|2005-06-15 00:54:12|2006-02-15 22:12:30|
+----------+-----------+--------+---------+------+-------------------+-------------------+
only showing top 3 rows

In [5]:
rental_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/rental.csv")
rental_df = rental_df.alias('rental_df')
rental_df.show(3)

+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
|rental_id|        rental_date|inventory_id|customer_id|        return_date|staff_id|        last_update|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
|        1|2005-05-24 22:53:30|         367|        130|2005-05-26 22:04:30|       1|2006-02-15 21:30:53|
|        2|2005-05-24 22:54:33|        1525|        459|2005-05-28 19:40:33|       1|2006-02-15 21:30:53|
|        3|2005-05-24 23:03:39|        1711|        408|2005-06-01 22:12:39|       1|2006-02-15 21:30:53|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+
only showing top 3 rows

In [6]:
staff_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/staff.csv")
staff_df = staff_df.alias('staff_df')
staff_df.show(3)

+--------+----------+---------+----------+-------+--------------------+--------+------+--------+--------------------+--------------+
|staff_id|first_name|last_name|address_id|picture|               email|store_id|active|username|            password|   last_update|
+--------+----------+---------+----------+-------+--------------------+--------+------+--------+--------------------+--------------+
|       1|      Mike|  Hillyer|         3|   NULL|Mike.Hillyer@saki...|       1|     1|    Mike|8cb2237d0679ca88d...|2/15/2006 3:57|
|       2|       Jon| Stephens|         4|   NULL|Jon.Stephens@saki...|       2|     1|     Jon|                NULL|2/15/2006 3:57|
+--------+----------+---------+----------+-------+--------------------+--------+------+--------+--------------------+--------------+

In [8]:
inventory_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/inventory.csv")
inventory_df = inventory_df.alias('inventory_df')
inventory_df.show(3)

+------------+-------+--------+-------------------+
|inventory_id|film_id|store_id|        last_update|
+------------+-------+--------+-------------------+
|           1|      1|       1|2006-02-15 05:09:17|
|           2|      1|       1|2006-02-15 05:09:17|
|           3|      1|       1|2006-02-15 05:09:17|
+------------+-------+--------+-------------------+
only showing top 3 rows

In [9]:
store_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/store.csv")
store_df = store_df.alias('store_df')
store_df.show(3)

+--------+----------------+----------+-------------------+
|store_id|manager_staff_id|address_id|        last_update|
+--------+----------------+----------+-------------------+
|       1|               1|         1|2006-02-15 04:57:12|
|       2|               2|         2|2006-02-15 04:57:12|
+--------+----------------+----------+-------------------+

In [10]:
address_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/address.csv")
address_df = address_df.alias('address_df')
address_df.show(3)

+----------+------------------+--------+--------+-------+-----------+-----------+-------------------+
|address_id|           address|address2|district|city_id|postal_code|      phone|        last_update|
+----------+------------------+--------+--------+-------+-----------+-----------+-------------------+
|         1| 47 MySakila Drive|    NULL| Alberta|    300|       null|       null|2014-09-25 22:30:27|
|         2|28 MySQL Boulevard|    NULL|     QLD|    576|       null|       null|2014-09-25 22:30:09|
|         3| 23 Workhaven Lane|    NULL| Alberta|    300|       null|14033335568|2014-09-25 22:30:27|
+----------+------------------+--------+--------+-------+-----------+-----------+-------------------+
only showing top 3 rows

In [11]:
customer_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/customer.csv")
customer_df = customer_df.alias('customer_df')
customer_df.show(3)

+-----------+--------+----------+---------+--------------------+----------+------+-------------------+-------------------+
|customer_id|store_id|first_name|last_name|               email|address_id|active|        create_date|        last_update|
+-----------+--------+----------+---------+--------------------+----------+------+-------------------+-------------------+
|          1|       1|      MARY|    SMITH|MARY.SMITH@sakila...|         5|     1|2006-02-14 22:04:36|2006-02-15 04:57:20|
|          2|       1|  PATRICIA|  JOHNSON|PATRICIA.JOHNSON@...|         6|     1|2006-02-14 22:04:36|2006-02-15 04:57:20|
|          3|       1|     LINDA| WILLIAMS|LINDA.WILLIAMS@sa...|         7|     1|2006-02-14 22:04:36|2006-02-15 04:57:20|
+-----------+--------+----------+---------+--------------------+----------+------+-------------------+-------------------+
only showing top 3 rows

In [12]:
film_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/film.csv")
film_df = film_df.alias('film_df')
film_df.show(3)

+-------+----------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+------+--------------------+-------------------+
|film_id|           title|         description|release_year|language_id|original_language_id|rental_duration|rental_rate|length|replacement_cost|rating|    special_features|        last_update|
+-------+----------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+------+--------------------+-------------------+
|      1|ACADEMY DINOSAUR|A Epic Drama of a...|        2006|          1|                NULL|              6|       0.99|    86|           20.99|    PG|Deleted Scenes,Be...|2006-02-15 05:03:42|
|      2|  ACE GOLDFINGER|A Astounding Epis...|        2006|          1|                NULL|              3|       4.99|    48|           12.99|     G|Trailers,Deleted ...|2006-02-15 05:03:42|
|      3|ADAPTATION HOLES|A Astounding Refl...|        2006|          1|                NULL|              7|       2.99|    50|           18.99| NC-17|Trailers,Deleted ...|2006-02-15 05:03:42|
+-------+----------------+--------------------+------------+-----------+--------------------+---------------+-----------+------+----------------+------+--------------------+-------------------+
only showing top 3 rows

In [13]:
#Question 1
#create data frame, agrregate amount and then sort in descending order
totalamount_df= payment_df[['customer_id','amount']]
desc_amount = totalamount_df.groupBy('customer_id')
sorted_totalamount_df = desc_amount.agg({'amount':'sum'})
sorted_totalamount_df.orderBy('sum(amount)', ascending = False).show(3)

+-----------+------------------+
|customer_id|       sum(amount)|
+-----------+------------------+
|        526| 221.5500000000001|
|        148| 216.5400000000001|
|        144|195.58000000000007|
+-----------+------------------+
only showing top 3 rows

In [14]:
#Question 2
#create data frame, filter by year and then sort in ascending order
rental1_df = rental_df.withColumn('rental_date_1', rental_df['rental_date'].substr(1, 4))
rental2_df = rental1_df.filter(rental1_df.rental_date_1 ==2005)
rental2_df.orderBy('return_date', ascending = True).show(3)

+---------+-------------------+------------+-----------+-------------------+--------+-------------------+-------------+
|rental_id|        rental_date|inventory_id|customer_id|        return_date|staff_id|        last_update|rental_date_1|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+-------------+
|       32|2005-05-25 04:06:21|        3832|        230|2005-05-25 23:55:21|       1|2006-02-15 21:30:53|         2005|
|       21|2005-05-25 01:59:46|         146|        388|2005-05-26 01:01:46|       2|2006-02-15 21:30:53|         2005|
|       14|2005-05-25 00:31:15|        2701|        446|2005-05-26 02:56:15|       1|2006-02-15 21:30:53|         2005|
+---------+-------------------+------------+-----------+-------------------+--------+-------------------+-------------+
only showing top 3 rows

In [15]:
#Question 3
#create data frame of staff_id, rental id and group by staff_if. Count based on staff_id the attribute rental_id
from pyspark.sql.functions import col
staffid_df= rental_df[['staff_id','rental_id']]
staffid = staffid_df.groupBy('staff_id')
rentalid_count_df = staffid.agg({'rental_id':'count'})
rentalid_count_df = rentalid_count_df.select(col("staff_id").alias("staff_id"), col("count(rental_id)").alias("count"))
rentalid_count_df.show(2)

+--------+-----+
|staff_id|count|
+--------+-----+
|       1| 8040|
|       2| 8004|
+--------+-----+

In [16]:
#Question 4
#join data frames and extract specified columns
name_df = rentalid_count_df.join(staff_df,(rentalid_count_df.staff_id == staff_df.staff_id))
name_sorted_df= name_df[[['first_name','last_name', 'count']]]
name_sorted_df.show(2)

+----------+---------+-----+
|first_name|last_name|count|
+----------+---------+-----+
|      Mike|  Hillyer| 8040|
|       Jon| Stephens| 8004|
+----------+---------+-----+

In [18]:
#Question 5
#creating new data frames 
Q_rental_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/rental.csv")
Q_address_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/address.csv")
Q_film_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/film.csv")
Q_customer_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/customer.csv")
Q_inventory_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/inventory.csv")
Q_payment_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/payment.csv")
Q_staff_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/staff.csv")
Q_store_df = spark.read.format("csv").option("header", "true").load(r"D:/MATH 5671/Group 7/Assignment 9/data/store.csv")


#rental, inventory has inventory_id common, extracting store_id
Xjoin_df = Q_rental_df.join(Q_inventory_df,(Q_rental_df.inventory_id == Q_inventory_df.inventory_id))
#store , current (Ystore_df) has store id common, extracting address id
Yjoin_df = Xjoin_df.join(Q_store_df, (Xjoin_df.store_id == Q_store_df.store_id), how ='left')
#address , current (Yaddress_df) has address id common, extracting address
Zjoin_df = Yjoin_df.join(Q_address_df,(Yjoin_df.address_id == Q_address_df.address_id))
#customer, current (Zjoin_df) has customer_id in common
Wjoin_df = Zjoin_df.join(Q_customer_df,(Zjoin_df.customer_id == Q_customer_df.customer_id))
#staff, current (Wjoin_df) has store_id in common
Vjoin_df = Wjoin_df.join(Q_staff_df, (Wjoin_df.staff_id == Q_staff_df.staff_id), how ='left')
#film, current (Vjoin_df) has film_id in common
Ujoin_df = Vjoin_df.join(Q_film_df, (Vjoin_df.film_id == Q_film_df.film_id))
#since first_name, last_name are duplicate

In [19]:
drop_cols = [
'rental_id',
 'inventory_id',
 'customer_id',
 'staff_id',
 'last_update',
 'inventory_id',
 'film_id',
 'store_id',
 'last_update',
 'store_id',
 'manager_staff_id',
 'address_id',
 'last_update',
 'address_id',
 'address2',
 'district',
 'city_id',
 'postal_code',
 'phone',
 'last_update',
 'customer_id',
 'store_id',
 'email',
 'address_id',
 'active',
 'create_date',
 'last_update',
 'staff_id',
 'address_id',
 'picture',
 'email',
 'store_id',
 'active',
 'username',
 'password',
 'last_update',
 'film_id',
 'release_year',
 'language_id',
 'original_language_id',
 'rental_duration',
 'rental_rate',
 'length',
 'replacement_cost',
 'rating',
 'special_features',
 'last_update']
Ujoin_df = Ujoin_df.drop(*drop_cols)
Ujoin_df.orderBy('rental_date', ascending = True).show(3) #Image in assignment pdf is ordered on 'rental_date'

+-------------------+-------------------+------------------+----------+---------+----------+---------+---------------+--------------------+
|        rental_date|        return_date|           address|first_name|last_name|first_name|last_name|          title|         description|
+-------------------+-------------------+------------------+----------+---------+----------+---------+---------------+--------------------+
|2005-05-24 22:53:30|2005-05-26 22:04:30| 47 MySakila Drive| CHARLOTTE|   HUNTER|      Mike|  Hillyer|BLANKET BEVERLY|A Emotional Docum...|
|2005-05-24 22:54:33|2005-05-28 19:40:33|28 MySQL Boulevard|     TOMMY|  COLLAZO|      Mike|  Hillyer|   FREAKY POCUS|A Fast-Paced Docu...|
|2005-05-24 23:03:39|2005-06-01 22:12:39|28 MySQL Boulevard|    MANUEL|  MURRELL|      Mike|  Hillyer|  GRADUATE LORD|A Lacklusture Epi...|
+-------------------+-------------------+------------------+----------+---------+----------+---------+---------------+--------------------+
only showing top 3 rows

In [20]:
Ujoin_df.orderBy('return_date', ascending = True).show(3) #ordered on 'return_date'

+-------------------+-------------------+------------------+----------+---------+----------+---------+------------------+--------------------+
|        rental_date|        return_date|           address|first_name|last_name|first_name|last_name|             title|         description|
+-------------------+-------------------+------------------+----------+---------+----------+---------+------------------+--------------------+
|2005-05-25 04:06:21|2005-05-25 23:55:21|28 MySQL Boulevard|       JOY|   GEORGE|      Mike|  Hillyer| STALLION SUNDANCE|A Fast-Paced Tale...|
|2005-05-25 01:59:46|2005-05-26 01:01:46| 47 MySakila Drive|     CRAIG|  MORRELL|       Jon| Stephens|     APACHE DIVINE|A Awe-Inspiring R...|
|2005-05-25 00:31:15|2005-05-26 02:56:15|28 MySQL Boulevard|  THEODORE|     CULP|      Mike|  Hillyer|MONTEREY LABYRINTH|A Awe-Inspiring D...|
+-------------------+-------------------+------------------+----------+---------+----------+---------+------------------+--------------------+
only showing top 3 rows

In [21]:
#Question 6
payment1_df = payment_df.withColumn('payment_date_1', payment_df['payment_date'].substr(1, 4))
# we can replace 2005 with any year we require to filter
payment2_df = payment1_df.filter(payment1_df.payment_date_1 ==2005)
greaterpmt_df= payment2_df[['customer_id','amount','payment_date_1']]
greaterpmt_df = greaterpmt_df.groupBy('customer_id')
sorted_greaterpmt_df = greaterpmt_df.agg({'amount':'sum'})
sorted_greaterpmt_df = sorted_greaterpmt_df.select(col("customer_id").alias("customer_id"), col("sum(amount)").alias("amount"))
sorted_greaterpmt1_df= sorted_greaterpmt_df.filter(sorted_greaterpmt_df.amount > 200.0)
sorted_greaterpmt1_df = sorted_greaterpmt1_df.select(col("customer_id").alias("customer_id"), col("amount").alias("sum(amount)"))
sorted_greaterpmt1_df.show(2)

+-----------+-----------------+
|customer_id|      sum(amount)|
+-----------+-----------------+
|        526|221.5500000000001|
|        148|216.5400000000001|
+-----------+-----------------+

In [22]:
#Question 7
#join data frames and get specified columns
customername_df = sorted_greaterpmt1_df.join(customer_df,(sorted_greaterpmt1_df.customer_id == customer_df.customer_id))
customername_sorted_df= customername_df[[['first_name','last_name', 'sum(amount)']]]
customername_sorted_df.show(2)

+----------+---------+-----------------+
|first_name|last_name|      sum(amount)|
+----------+---------+-----------------+
|      KARL|     SEAL|221.5500000000001|
|   ELEANOR|     HUNT|216.5400000000001|
+----------+---------+-----------------+

In [23]:
#Question 8
#create two data frames and subtract one data frame from another to get unique values 
rental5_df = rental_df.withColumn('rental_date_1', rental_df['rental_date'].substr(1, 4))
customer2005= rental5_df.filter(rental5_df.rental_date_1 ==2005)
customer2005_df= customer2005[['customer_id']]
customer2006 = rental5_df.filter(rental5_df.rental_date_1 ==2006)
customer2006_df= customer2006[['customer_id']]
customer2005only_df = customer2005_df.subtract(customer2006_df)
customer2005only_df.count()

441

In [24]:
customer2006only_df = customer2006_df.subtract(customer2005_df)
customer2006only_df.count()

0